<h3>Register New User</h3>

<% form_for @user do |f| %>
  <%= render :partial => "form", :object => f %>

  <p>
    <%= f.submit "Register" %>&nbsp;or&nbsp;<%= link_to 'return to list', users_path %>
  </p>
<% end %>
