<h3>Showing User Information</h3>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>


<%= link_to('Edit', edit_user_path(@user)) + " or " if can? :edit, @user %>

<%= link_to 'return to list', users_path %>
