<h3>Showing User Information</h3>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Linked Accounts:</b>

  <ul>
    <% @user.authorizations.each do |auth| %>
      <li><%= provider_authenticate_link(auth.provider) %></li>
    <% end %>
  </ul>
</p>


<%= link_to('Edit', edit_user_path(@user)) + " or " if can? :edit, @user %>

<%= link_to 'return to list', users_path %>
