#navigation {
  float: left;
  margin-bottom: 10px;
}

#userland {
  float: right;
  margin-bottom: 10px;
}

#flashes {
  clear: both;
}

#content {
  margin: 10px;
}

#copyright {
  text-align: center;
}

.flash {
  border: 1px solid #000000;
  padding: 10px;
}

.flash.error {
}

.flash.notice {
}

label {
  font-weight: bold;
}

input[type=text],input[type=password],select,textarea {
  clear: both;
  display: block;
}
